<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>倉庫登録（管理者用）</title>
    <th:block th:replace="~{common/layout-shell :: layout-styles}"></th:block>
</head>
<body>
    <button type="button" class="menu-trigger" id="js-hamburger">☰</button>
    <div th:replace="~{common/sidebar :: sidebar-fragment}"></div>
    <main class="main-content">
        <h1>倉庫登録（管理者用）</h1>
        <!-- warehouseIdがnullなら新規、あれば編集 -->
         <h2 th:text="${warehouse.warehouseId == null} ? '倉庫新規登録' : '倉庫編集'">倉庫新規登録</h2>

         <form th:action="@{/admin/warehouses}" th:object="${warehouse}" method="post">
            <!--編集時用：主キーをhiddenで送る-->
            <input type="hidden" th:field="*{warehouseId}">
            <div class="form-group">
            <label>倉庫名:</label>
            <input type="text" th:field="*{warehouseName}"/>
            <p th:if="${#fields.hasErrors('warehouseName')}" th:errors="*{warehouseName}" style="color:red;">
                </p>
            </div>
           <!-- テーブルに warehouse_address があれば表示 -->
            <div class="form-group">
            <label>住所:</label>
            <input type="text" th:field="*{warehouseAddress}"/>
            <p th:if="${#fields.hasErrors('warehouseAddress')}" th:errors="*{warehouseAddress}" style="color:red;"></p>
            </div>

            <button type="submit" th:text="${warehouse.warehouseId == null} ? '登録' : '更新' "style="display: block; margin: 20px auto;">登録</button>
            </form>

            <a th:href="@{/admin/warehouses}">倉庫一覧に戻る</a>
    </main>
        <th:block th:replace="~{common/layout-shell :: layout-scripts}"></th:block>
</body>
</html>